<!DOCTYPE html>
<html ng-app="modone">
    <head>
        <script src="js/libs/angular-route.js"></script>
        <script src="js/libs/angular.min.js"></script>
        <script src="js/appmodule.js"></script>
        <!--script src="js/teclado.js"></script-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/custom.css">
        <title>Laberinto Multiplayer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="laberinto" style="background:url(img/fondo2.jpg)">
        <div style="alignment-baseline: central">
            <table>
                <tr>
                    <td><img src="img/logo.png" style="width: 179px; height: 113px;" alt=""/></td>
                    <td><h1 style="color: whitesmoke">Laberinto Multiplayer</h1></td>
                </tr>
            </table>
        </div>
        <div>
            <div>
                <label style="color: whitesmoke">Name:</label><input type="text" id="message" ng-model="name"/>
                <br/>
                <button id="connect" ng-click="connect(name)">Connect</button>
                <button id="disconnect" disabled="disabled" ng-click="disconnect(name)">Disconnect</button>
            </div>
            <div id="conversationDiv">
                <canvas id="mapa" width="800" height="600" class="border"></canvas>
            </div>
        </div>
    </body>
</html>
